doctype html
link(href='https://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet')

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
