extends layout

block content
  .navbar
    a.onglets(href='home') home
    a.onglets(href='contact') contact
  img(src='../public/images/affiche.jpg')
  p.description Dans ce dernier volet de l’épopée LE LABYRINTHE, Thomas et les Blocards s’engagent dans une ultime mission, plus dangereuse que jamais. Afin de sauver leurs amis, ils devront pénétrer dans la légendaire et sinueuse Dernière Ville contrôlée par la terrible organisation WICKED. Une cité qui pourrait s’avérer être le plus redoutable des labyrinthes. Seuls les Blocards qui parviendront à en sortir vivants auront une chance d’obtenir les réponses tant recherchées depuis leur réveil au cœur du Labyrinthe.
